@font-face {
  font-family: "Raleway";
  src: url("police/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("police/Raleway-Bold.ttf");
}

body {
  margin: 0;
  width: 1300px;
}

html {
  font-family: "Raleway-Bold";
  justify-content: center;
  display: flex;
}

#rental {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  justify-content: space-between;
  margin-left: 30px;
}

#menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  align-items: center;
  margin-left: 30px;
}

#menu > div {
  display: flex;
  align-items: flex-end;
}

nav {
  display: flex;
  justify-content: space-between;
}

#nav-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-content,
#nav-link > a {
  font-size: small;
  border-top: solid 2px transparent;
  width: 160px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(121, 121, 121);
  text-decoration: none;
}

#nav-link > a:visited {
  color: rgb(121, 121, 121);
  text-decoration: none;
}

.nav-content > p {
  color: #0065fc;
}

#nav-link > a,
.nav-content {
  width: 160px;
  height: 80px;
  display: flex;
  align-items: center;
}

#nav-link > a:hover,
.nav-content:hover {
  color: #0065fc;
  border-top: solid 2px;
}

#title {
  margin-left: 30px;
}

h1 {
  font-size: medium;
  line-height: 10px;
}

#title > div {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#title > p {
  font-size: x-small;
  color: rgb(121, 121, 121);
  margin-bottom: 15px;
}

#filter {
  display: inline-block;
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-bottom: 20px;
}

#filter-text {
  margin-right: 25px;
  font-size: small;
}

.filter-content-icons {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  width: 16px;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #deebff;
  justify-content: center;
}
.filter-content {
  display: flex;
  border-radius: 40px;
  align-items: center;
  border: solid 2px;
  height: 30px;
  border-color: #f2f2f2;
  margin-right: 15px;
  border-left: unset;
}
.filter-content-text {
  margin-left: 10px;
  margin-right: 15px;
  font-size: small;
}

.fa-money-bill-wave-alt,
.fa-child,
.fa-heart,
.fa-dog {
  font-size: small;
  color: #0065fc;
}

.filter-content:hover {
  background-color: #f2f2f2;
}

.fa-info {
  color: #0065fc;
  font-size: x-small;
}

#info-icons {
  height: 15px;
  width: 15px;
  border-radius: 20px;
  border: solid #f2f2f2 1px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 30px;
}

#info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#info-text {
  margin-left: 10px;
  font-size: x-small;
  color: rgb(121, 121, 121);
}

.fa-map-marker-alt {
  background-color: #f2f2f2;
  padding: 11.4px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: x-small;
  height: 11px;
}

input {
  padding: 8px;
  border-top: 1px #f2f2f2 solid;
  border-bottom: 1px #f2f2f2 solid;
  border-left: none;
  border-right: none;
}

#sumbit {
  background-color: #0065fc;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: unset;
  padding: 9px;
}

.fa-search {
  display: none;
}

.titre {
  margin-left: 10px;
}

.lodging-group-content > h3,
.lodging-group-content > p {
  padding-left: 10px;
  margin-top: 2px;
  margin-bottom: 1px;
}

.lodging-group-content > h3 {
  font-size: x-small;
}

.lodging-group-content > p {
  color: rgb(121, 121, 121);
  font-size: xx-small;
}

.lodging-group-content > img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  object-fit: cover;
  width: 166px;
  height: 80px;
}

.starp-lodging {
  color: #0065fc;
  font-size: xx-small;
}

.starv-lodging {
  color: #f2f2f2;
  font-size: xx-small;
}

.lodging-group {
  margin-left: 20px;
  flex-wrap: wrap;
  width: 600px;
  display: flex;
}

.lodging-group > a
{
  text-decoration: none;
  color: #000000;
}

.lodging-group > a:visited
{
  color: #000000;
  text-decoration: none;
}

.lodging-group-content {
  background-color: white;
  border-radius: 10px;
  width: 170px;
  margin-bottom: 20px;
  display: inline-block;
  margin-right: 15px;
  -webkit-box-shadow: 0px 0px 20px -16px #000000;
  box-shadow: 0px 0px 20px -16px #000000;
}

.starpf-lodging {
  color: #0065fc;
  padding-left: 10px;
  font-size: xx-small;
  margin-bottom: 8px;
}

#lodging-more {
  font-size: x-small;
  margin-left: 25px;
  margin-bottom: 40px;
}

#lodging-name > h2 {
  margin-top: 28px;
  margin-left: 20px;
  font-size: medium;
}

.popular-content > div > img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-bottom: 3px;
  padding-top: 3px;
  padding-left: 3px;
  object-fit: cover;
  height: 94px;
  width: 100px;
}

.starp {
  color: #0065fc;
  font-size: 8px;
}

.starv {
  color: #f2f2f2;
  font-size: 8px;
}

.starpi {
  color: #0065fc;
  font-size: 8px;
  margin-left: 15px;
}

#popular > a
{
  color: #000000;
  text-decoration: none;
}

.popular-content {
  border-radius: 10px;
  background-color: white;
  width: 240px;
  height: 100px;
  margin-bottom: 20px;
  margin-left: 20px;
  display: flex;
  -webkit-box-shadow: 0px 0px 20px -16px #000000;
  box-shadow: 0px 0px 20px -16px #000000;
}

#popular,
#lodging {
  background-color: #f2f2f2;
}

.popular-info-text > h3 {
  font-size: x-small;
  padding-left: 15px;
}

.popular-info-text > p {
  line-height: 5px;
  font-size: xx-small;
  padding-left: 15px;
  color: rgb(121, 121, 121);
}

#popular-name {
  font-size: medium;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#popular-name > h2 {
  font-size: medium;
  margin-left: 20px;
  margin-top: 28px;
}

#popular-name > h2 > i {
  margin-right: 20px;
}

.popular-info {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

.popular-info-icons {
  align-self: flex-end;
  align-self: flex-start;
  margin-bottom: 5px;
}

#activities {
  margin-bottom: 30px;
  margin-left: 30px;
}

.activities-bigcontent {
  border-radius: 10px;
  width: 200px;
  margin-bottom: 20px;
  height: 350px;
  -webkit-box-shadow: 0px 0px 20px -16px #000000;
  box-shadow: 0px 0px 20px -16px #000000;
}

.activities-bigcontent > img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  height: 315px;
  width: 200px;
}

#smallcontent-1 > img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  height: 165px;
  width: 200px;
}

#smallcontent-2 > img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  height: 85px;
  width: 200px;
}

#smallcontent-3 > img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  height: 105px;
  width: 200px;
}

#smallcontent-4 > img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  height: 145px;
  width: 200px;
}

#activities-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#activities-container > a
{
  color: #000000;
  text-decoration: none;
}

.activities-smallcontent > a
{
  color: #000000;
  text-decoration: none;
}

#smallcontent-1 {
  border-radius: 10px;
  width: 200px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 20px -16px #000000;
  box-shadow: 0px 0px 20px -16px #000000;
  height: 200px;
}

#smallcontent-2 {
  border-radius: 10px;
  width: 200px;
  -webkit-box-shadow: 0px 0px 20px -16px #000000;
  box-shadow: 0px 0px 20px -16px #000000;
  height: 120px;
}

#smallcontent-3 {
  border-radius: 10px;
  width: 200px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 20px -16px #000000;
  box-shadow: 0px 0px 20px -16px #000000;
  height: 140px;
}

#smallcontent-4 {
  border-radius: 10px;
  width: 200px;
  -webkit-box-shadow: 0px 0px 20px -16px #000000;
  box-shadow: 0px 0px 20px -16px #000000;
  height: 180px;
}

.activities-smallcontent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 200px;
  height: 350px;
}

.activities-content-text > h3 {
  height: 35px;
  padding-left: 10px;
  font-size: x-small;
}

#activities-name > h2 {
  font-size: medium;
}

footer {
  background-color: #f2f2f2;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

#lodging {
  height: 420px;
  border-radius: 10px;
  width: 65%;
}

#popular {
  width: 30%;
  height: 420px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h4 {
  font-size: small;
  line-height: 3px;
}

.footer-content > p,
#footer-content > p {
  font-size: x-small;
  margin-bottom: 10px;
  color: rgb(121, 121, 121);
}

.footer-content {
  line-height: 20px;
  margin-left: 30px;
  margin-right: 100px;
  margin-top: 20px;
}

#footer-content {
  line-height: 20px;
  margin-left: 100px;
  margin-top: 20px;
}

header,
main {
  width: 95%;
  margin-left: 5px;
}

a:hover {
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  html {
    background-color: white;
    width: 100%;
    margin: 0;
  }

  head, main, footer
  {
    overflow-x: hidden;
    margin-left: 0px;
  }

  header,
  main,
  footer {
    width: 100%;
  }

  #menu {
    width: 100%;
    margin-left: unset;
  }

  #menu > div > img {
    position: absolute;
    top: 6px;
    left: 10px;
  }

  .nav-link-content,
  .nav-content {
    height: unset;
    border-top: unset;
    font-size: small;
  }

  .nav-link-content
  {
    font-family: Raleway;
    color: black;
  }

  .nav-content > p {
    height: unset;
  }

  .nav-content > p:hover {
    border-top: unset;
  }

  .nav-link-content > a:visited,
  .nav-link-content > a:hover {
    border-top: unset;
  }

  nav {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
    flex-wrap: wrap-reverse;
  }

  #title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: unset;
  }

  #title > div {
    justify-content: center;
    display: flex;
    width: 100%;
  }

  #title > p 
  {
    font-family: Raleway;
    color: black;
    font-weight: unset;
    font-size: x-small;
  }

  #sumbit {
    display: none;
  }

  .fa-search {
    display: unset;
    background-color: #0065fc;
    padding: 11.4px;
    border-radius: 10px;
    font-size: x-small;
    height: 11px;
    color: white;
  }

  #filter {
    display: flex;
    flex-wrap: wrap;
    margin-left: unset;
  }

  .filter-content {
    margin-top: 10px;
  }

  #filter-text {
    width: 100%;
    margin-bottom: -15px;
  }

  #info-icons {
    margin-left: unset;
  }

  #info-text
  {
    font-family: Raleway;
    color: black;
  }

  body {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  #rental {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: unset;
  }

  .lodging-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: unset;
    margin-bottom: unset;
    align-items: stretch;
    margin-left: unset;
    justify-content: center;
  }

  .lodging-group > a
  {
    justify-content: center;
    display: flex;
  }

  .lodging-group-content > img {
    width: 98%;
  }

  .lodging-group-content > h3
  {
    line-height: 10px;
    margin-bottom: 5px;
  }

  .lodging-group-content > p
  {
    color: black;
    font-family: Raleway;
    line-height: 10px;
  }

  .lodging-group-content {
    width: 90%;
    margin-right: unset;
  }

  #lodging-name {
    width: 100%;
  }

  #lodging-name > h2 {
    font-size: medium;
    margin-left: 20px;
  }

  #lodging-more {
    width: 100%;
    margin-bottom: 5px;
    margin-left: 41px;
  }

  #lodging-more > p {
    font-size: medium;
  }

  .popular-content {
    width: 90%;
    margin-bottom: 10px;
  }

  #popular-name {
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin-left: 10px;
  }

  #popular-name > h2 {
    font-size: medium;
  }

  #lodging {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: unset;
    width: 100%;
    margin-left: unset;
    margin-right: unset;
    background-color: unset;
    margin-bottom: unset;
  }

  #popular-name > h2,
  .popular-content {
    margin-top: unset;
  }

  #popular > a
  {
    width: 95%;
  }

  #popular {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: unset;
    border-radius: unset;
    width: 100%;
    align-items: center;
    height: 400px;
  }

  #activities-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: unset;
    margin-bottom: unset;
    align-items: stretch;
  }

  .activities-content-text > h3
  {
    height: unset;
  }

  #activities-name {
    width: 100%;
    margin-left: 41px;
    margin-bottom: 10px;
  }

  .activities-bigcontent {
    width: 90%;
    height: unset;
  }

  #smallcontent-1,
  #smallcontent-2,
  #smallcontent-3,
  #smallcontent-4 {
    width: unset;
    height: 125px;
    margin-bottom: 20px;
  }

  .activities-smallcontent {
    margin-bottom: 10px;
    width: 90%;
    height: 280px;
    align-self: center;
  }



  #activities {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: unset;
    margin-left: unset;
  }

  #activities-container > a
  {
    display: flex;
    justify-content: center;
  }

  .activities-bigcontent > img,
  #smallcontent-1 > img,
  #smallcontent-2 > img,
  #smallcontent-3 > img,
  #smallcontent-4 > img {
    height: 90px;
    width: 100%;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }

  .footer-content,
  #footer-content {
    margin-left: 30px;
  }

  #register {
    position: absolute;
    top: 10px;
    right: 0px;
    font-weight: bold;
    justify-content: flex-start;
  }

  nav {
    width: 100%;
  }

  #nav-link {
    margin-top: 70px;
    width: 100%;
  }

  .nav-link-content {
    width: 100%;
    justify-content: center;
    align-items: center;
    border-top: unset;
  }

  .nav-link-content:active
  {
    border-top: unset;
  }

  #nav-link > a {
    text-decoration: none;
    color: gray;
    width: 50%;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 2px solid lightgray;
    height: unset;
    border-top: unset;
  }

  #nav-link > a:active {
    border-bottom: 2px solid #0065fc;
    color: #0065fc;
    border-top: unset;
  }

  #title {
    width: 90%;
    margin: 0 auto;
  }

  #title h1,
  #title p {
    line-height: 21px;
  }

  #title h1 {
    margin-bottom: 0;
    font-size: large;
  }

  #searchbar {
    width: 90%;
    margin: 0 auto;
  }

  #searchbar input[type="text"] {
    width: calc(90% - 40px);
    font-family: Raleway-Bold;
  }

  #filter,
  #info {
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 481px) and (max-width: 960px) {
  header,
  main,
  footer {
    width: 100%;
  }

  #filter {
    display: flex;
    flex-wrap: wrap;
  }


  #menu
  {
    margin-left: unset;
  }

  #title,
  #filter,
  #info {
    margin-left: 10px;
  }

  #rental {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: unset;
  }

  #info-icons {
    margin-left: unset;
  }

  #lodging {
    width: 100%;
    margin-left: unset;
    height: unset;
    border-radius: unset;
  }

  .lodging-group {
    width: 100%;
  }

  .lodging-group-content {
    width: unset;
  }

  .lodging-group-content > img {
    width: 230px;
  }


  #popular {
    display: flex;
    width: 100%;
    height: unset;
    flex-wrap: wrap;
    margin-left: unset;
    justify-content: space-around;
    margin-top: 20px;
    flex-direction: row;
    border-radius: unset;
  }

  #popular-name {
    width: 100%;
    margin-left: unset;
    align-self: flex-start;
  }

  .popular-content {
    margin-left: unset;
  }

  #activities {
    width: 100%;
    margin-left: unset;
  }

  #activities-name > h2
  {
    margin-left: 20px;
  }
  
  #activities-container
  {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #activities-container > a
  {
    width: 45%;
  }

  .activities-bigcontent {
    width: 100%;
    margin-bottom: 20px;
  }

  .activities-bigcontent > img {
    width: 100%;
  }

  .activities-smallcontent {
    width: 45%;
  }

  #smallcontent-1,
  #smallcontent-2,
  #smallcontent-3,
  #smallcontent-4 {
    width: 100%;
  }

  #smallcontent-1 > img,
  #smallcontent-2 > img,
  #smallcontent-3 > img,
  #smallcontent-4 > img {
    width: 100%;
  }

  footer
  {
    display: flex;
    flex-wrap: wrap;
  }

}
